In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
#Rename the columns as per the description from this file:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
#Task:
#Create a sql db from adult dataset and name it sqladb
#7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

In [3]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
col_list = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation',
           'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','Label']
adult = pd.read_csv(url,sep=",",delimiter=",",names=col_list,skipinitialspace=True)
sqladb = adult.copy()

In [4]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [7]:

q = """
 select "capital-gain","capital-loss",("capital-gain" - "capital-loss") as "Net-Capital-Gain" from sqladb;
"""
pysqldf(q)

       capital-gain  capital-loss  Net-Capital-Gain
0              2174             0              2174
1                 0             0                 0
2                 0             0                 0
3                 0             0                 0
4                 0             0                 0
5                 0             0                 0
6                 0             0                 0
7                 0             0                 0
8             14084             0             14084
9              5178             0              5178
10                0             0                 0
11                0             0                 0
12                0             0                 0
13                0             0                 0
14                0             0                 0
15                0             0                 0
16                0             0                 0
17                0             0                 0
18                0             0                 0
19                0             0                 0
20                0             0                 0
21                0             0                 0
22                0             0                 0
23                0          2042             -2042
24                0             0                 0
25                0             0                 0
26                0             0                 0
27                0             0                 0
28                0             0                 0
29                0             0                 0
...             ...           ...               ...
32531             0             0                 0
32532             0             0                 0
32533             0             0                 0
32534             0             0                 0
32535             0             0                 0
32536             0             0                 0
32537             0             0                 0
32538         15020             0             15020
32539             0             0                 0
32540             0             0                 0
32541             0             0                 0
32542             0             0                 0
32543             0             0                 0
32544             0             0                 0
32545             0             0                 0
32546             0             0                 0
32547             0             0                 0
32548          1086             0              1086
32549             0             0                 0
32550             0             0                 0
32551             0             0                 0
32552             0             0                 0
32553             0             0                 0
32554             0             0                 0
32555             0             0                 0
32556             0             0                 0
32557             0             0                 0
32558             0             0                 0
32559             0             0                 0
32560         15024             0             15024

[32561 rows x 3 columns]